.header{
  display:flex;
  width:900px;
}
.icons{
    display: flex;
    align-self: flex-end;
    flex-direction: reverse;
    height: auto;
    width: 300px;
}
.div-3 {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(./list-bg.png);
  height: 300px;
  width: 900px;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}

.left-list{
  display:flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding-left: 65px;
  
}
.right-list{
  display:flex;
  flex-direction: column-reverse;
  align-items: flex-start;
 
  
}
